<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Bank</title>
<style>
	th, td {
		padding: 5px;
	}
</style>

</head>

<body>
	<!-- Include _menu.html -->
	<th:block th:include="/_menu"></th:block>

	<h2>Accounts</h2>

	<table border="1">
		<tr>
			<th>ID</th>
			<th>Full Name</th>
			<th>Balance</th>
		</tr>
		<tr th:each="accountInfo : ${accountInfos}">
			<td th:utext="${accountInfo.id}">..</td>
			<td th:utext="${accountInfo.fullName}">..</td>
			<td th:utext="${accountInfo.balance}">..</td>
		</tr>

	</table>
</body>
</html>